<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class ="main-container">

<div class=" highlight" style="margin-left:0;">
<h2>Super Product Highlight</h2>
	<div class="row">
  
		
        <img src ="http://davidnaylor.org/temp/thunderbird-logo-200x200.png" /> 
        <ul>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
           
        </ul>
        </div>
        <div class="row">
        <p>Morbi laoreet ipsum sem, eu condimentum ante efficitur vel.
        Donec at nibh risus. Nam mollis nulla eget scelerisque facilisis. 
        Suspendisse sit amet condimentum dolor. Vestibulum euismod congue mi
        pulvinar dignissim. </p>
        <button class = "btn btn-primary">Buy Now</button>
       <button class = "btn btn-warning" >Read More</button>
        </div>
    </div>
	</div>
</div>
</div>
</body>
</html>