<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="C:\xampp\htdocs\orientacion\public\bootstrap-3.3.7-dist\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body id="solo">
	<legend>
<h1>
El Valor De Educar 
</h1>
</legend>
    <br>
    <br>
		<div class="container">
			<embed src="C:\xampp\htdocs\orientacion\public\PDF\El Valor De Educar.pdf" type="application/pdf" width="1200" height="1000"></embed>
		</div>
		<input class="btn btn-lg btn-danger btn-block" type="submit" value="Volver" >
</body>
</html>