<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	

<link href="file:\\\C:\xampp\htdocs\orientacion\public\bootstrap-3.3.7-dist\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->


</head>
<body>
<video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50"/>
  <source src="C:\Users\Javier\Documents\2018\Rogerr.mp4" type="video/mp4" />
</video/>


<!-- inicio nav -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- fin nav -->

  
    <div class="container">
      <br>
      <br>
      <br>
      <br>
    <div class="alert alert-warning" role="alert"><p id="PP">#SoyProfesional</p></div>
      
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Ingeniero en Sistemas</h2>
        <img src="C:\xampp\htdocs\orientacion\resources\views\Imagenes\JIM.jpg" class="img-circle img-responsive" alt="Sol">
        <p>Eres un profesionista especializado en el desarrollo de software para mejorar la calidad de vida de la sociedad y apoyar la competitividad de las organizaciones y el desarrollo sustentable del país. Tu formación en las áreas de ingeniería de software y ciencias computacionales te permitirá crear todo tipo de aplicaciones computacionales, desde las de uso personal y cotidiano hasta las especializadas en el ámbito científico, técnico, ingenieril y de negocios. </p>
        
      </div>

      <div class="col-md-5">
        <h2>Areas de Trabajo</h2>
        <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
        <i class="fas fa-chess fa-5x"></i>

        <p>Ingeniería de software. Desarrollas desde grandes sistemas computacionales hasta nuevos algoritmos.
        <br>Análisis y diseño de sistemas de información.
        <br>Desarrollo de aplicaciones innovadoras.
        <br>Administración de proyectos y servicios de tecnologías de información.
        <br>Consultoría especializada en soluciones de software y tecnologías de información.
        <br>Investigación en temas de nuevas tecnologías.
        <br>Empresa propia. Emprendes negocios de base tecnológica.</p>
        
      </div>
      <div class="col-md-5">
        <h2>Caracteristicas</h2>
        <p>Una de las principales diferencias de la ingeniería de sistemas respecto a otras disciplinas de ingeniería tradicionales, consiste en que la ingeniería de sistemas no construye productos tangibles. Mientras que los ingenieros civiles podrían diseñar edificios o puentes, los ingenieros electrónicos podrían diseñar circuitos, los ingenieros de sistemas tratan con sistemas abstractos con ayuda de las metodologías de la ciencia de sistemas, y confían además en otras disciplinas para diseñar y entregar los productos tangibles que son la realización de esos sistemas.
        </p>
       
      </div>

      <div class="col-md-5">
        <h2>Otras Areas</h2>
        <p>
          <br>Sistemas de Información
          <br>Investigación de operaciones
          <br>Ingeniería de sistemas cognitivos
        </p>
        <br>
        <p><button type="button" class="btn btn-primary btn-lg btn-block">Volver</button></p>
       
      </div>
      
      
       
    </div>
    <hr>

    <footer class="text-center">
      <p><a href="http://facebook.com/"><i class="fab fa-facebook-square fa-2x" ></i></a></p>
      <p>© 2018 Company, Inc.</p>
      <p class="text-center">
        <a href="http://bootsnipp.com/iframe/8MgNb" target="_blank">Best viewed full screen</a><br>
        <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2F8MgNb" target="_blank"><small>HTML</small><sup>5</sup></a>
      </p>
    </footer>

  </div>  <!-- /container -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>