<!DOCTYPE html>
<html>
<head>
	<title></title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

<link href="file:\\\C:\xampp\htdocs\orientacion\public\bootstrap-3.3.7-dist\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->


</head>
<body id="solo">




<legend>
<h1>
Mis Guias 
</h1>
</legend>
 

<div class="col-md-6">
<div class=" highlight" >
    <h2>Ing. Javier Marquez Rodriguez</h2>
        <div class="row">
  
    
            <img src ="../img/Tigre Personaje/Personaje con Profesiones/Dentista.png"> 
            <ul>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            </ul>
        </div>
        <div class="row">
          <p>Morbi laoreet ipsum sem, eu condimentum ante efficitur vel.
          Donec at nibh risus. Nam mollis nulla eget scelerisque facilisis. 
          Suspendisse sit amet condimentum dolor. Vestibulum euismod congue mi
          pulvinar dignissim. </p>
          <button class = "btn btn-primary">Buy Now</button>
          <button class = "btn btn-warning" >Read More</button>
        </div>
    </div>
</div>
</div>

<div class="col-md-6">
<div class=" highlight" >
    <h2>Prof. Javier Marquez Rodriguez</h2>
        <div class="row">
  
    
            <img src ="hC:\xampp\htdocs\orientacion\public\img\loo.jpg" /> 
            <ul>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            </ul>
        </div>
        <div class="row">
          <p>Morbi laoreet ipsum sem, eu condimentum ante efficitur vel.
          Donec at nibh risus. Nam mollis nulla eget scelerisque facilisis. 
          Suspendisse sit amet condimentum dolor. Vestibulum euismod congue mi
          pulvinar dignissim. </p>
          <button class = "btn btn-primary">Buy Now</button>
          <button class = "btn btn-warning" >Read More</button>
        </div>
    </div>
</div>
</div>
<br>
<div class="col-md-6">
<div class=" highlight" >
    <h2>Super Product Highlight</h2>
        <div class="row">
  
    
            <img src ="http://davidnaylor.org/temp/thunderbird-logo-200x200.png" /> 
            <ul>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            </ul>
        </div>
        <div class="row">
          <p>Morbi laoreet ipsum sem, eu condimentum ante efficitur vel.
          Donec at nibh risus. Nam mollis nulla eget scelerisque facilisis. 
          Suspendisse sit amet condimentum dolor. Vestibulum euismod congue mi
          pulvinar dignissim. </p>
          <button class = "btn btn-primary">Buy Now</button>
          <button class = "btn btn-warning" >Read More</button>
        </div>
    </div>
</div>
</div>
<br>
<div class="col-md-6">
<div class=" highlight" >
    <h2>Super Product Highlight</h2>
        <div class="row">
  
    
            <img src ="http://davidnaylor.org/temp/thunderbird-logo-200x200.png" /> 
            <ul>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            <li>Integer et malesuada turpis. Proin urna felis.</li>
            </ul>
        </div>
        <div class="row">
          <p>Morbi laoreet ipsum sem, eu condimentum ante efficitur vel.
          Donec at nibh risus. Nam mollis nulla eget scelerisque facilisis. 
          Suspendisse sit amet condimentum dolor. Vestibulum euismod congue mi
          pulvinar dignissim. </p>
          <button class = "btn btn-primary">Buy Now</button>
          <button class = "btn btn-warning" >Read More</button>
        </div>
    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>