<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	

<link href="file:\\\C:\xampp\htdocs\orientacion\public\bootstrap-3.3.7-dist\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->


</head>
<body id="solo">
<legend>
<h1>
El Color Que Mas Me Gusta
</h1>
</legend>


    <div class="container">
    <div class="col-sm-5">

                <div class="bs-calltoaction bs-calltoaction-default">
                    <div class="row">
                        <div class="col-md-3 cta-contents">
                            <h1 class="cta-title">Blanco</h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-default">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Azul  </h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-primary">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-info">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Naranja</h1>
                            <div class="cta-desc">
                                
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-info">Mas..</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-success">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Verde</h1>
                            <div class="cta-desc">
                                
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-success">Mas..</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-warning" id="Morado">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Morado</h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Moradobtn">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-warning" id="Rosa">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Rosa</h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Rosabtn">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-warning" id="Gris">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Gris</h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Grisbtn">Mas...</a>
                        </div>
                     </div>
                </div> 

                <div class="bs-calltoaction bs-calltoaction-warning" id="Negro">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Negro</h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Negrobtn">Mas...</a>
                        </div>
                     </div>
                </div>               

                <div class="bs-calltoaction bs-calltoaction-warning">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Amarillo</h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-danger">
                    <div class="row">
                        <div class="col-md-4 cta-contents">
                            <h1 class="cta-title">Rojo</h1>
                            
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-danger">Mas...</a>
                        </div>
                     </div>
                </div>


 		
    </div>

<div class="container" id="aver">
    <div class="col-sm-5">
<img src="C:\Users\Javier\Downloads\Tigre Personaje\Personajes pag principal Artes, Deportes y Academico\Tigre Deportivo.png">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>