<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	

<link href="file:\\\C:\xampp\htdocs\orientacion\public\bootstrap-3.3.7-dist\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->


</head>
<body>

<video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50"/>
  <source src="C:\Users\Javier\Documents\2018\Rogerr.mp4" type="video/mp4" />
</video/>


  
<!-- inicio nav -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- fin nav -->

  <br>
  <br>
  <br>
  <br>
    <div class="container">
    <div class="col-sm-12">

                <div class="bs-calltoaction bs-calltoaction-default">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Blanco</h1>
                            <div class="cta-desc">
                                <h4>El color blanco representa lo puro e inocente, así como la limpieza, la paz y la virtud. En culturas orientales y africanas es el color de la muerte: el alma pura que se va.</h4>
                                
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-default">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Azul</h1>
                            <div class="cta-desc">
                                <h4>El azul es el color del cielo y del agua, y representa la tranquilidad, la frescura y la inteligencia. En el mundo del marketing se emplea en muchos logotipos como Facebook o Twitter. Es un color elegante y corporativo, uno de los más usados por las empresas. Transmite confianza y pureza.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-primary">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-info">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Naranja</h1>
                            <div class="cta-desc">
                                <h4>El naranja se asocia al entusiasmo y la acción. También puede relacionarse con la lujuria y la sensualidad, con lo divino y la exaltación. En el mundo del marketing político, se suele decir que el naranja es el color más optimista de todos, por lo menos en las sociedades occidentales.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-info">Mas..</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-success">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Verde</h1>
                            <div class="cta-desc">
                                <h4>El verde representa la juventud, la esperanza y la nueva vida, pero también representa la acción y lo ecológico. Los decoradores de interiores coinciden en señalar que una habitación pintada con un color verde suave incita a la relajación y al bienestar.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-success">Mas..</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-warning" id="Morado">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Morado</h1>
                            <div class="cta-desc">
                                <h4>El morado es muy valorado en el mundo del marketing, puesto que representa la sofisticación y la elegancia. Además, se suele asociar este color al misterio, la nostalgia y la espiritualidad. Es un color ampliamente usado en los productos anti-edad, precisamente por ese toque de glamour que desprende.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Moradobtn">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-warning" id="Rosa">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Rosa</h1>
                            <div class="cta-desc">
                                <h4>El rosa es un color con unos atributos bien acotados: es el color de la dulzura, de la delicadeza, de la amistad y del amor puro. Nuestro acervo cultural lo asocia también a lo femenino.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Rosabtn">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-warning" id="Gris">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Gris</h1>
                            <div class="cta-desc">
                                <h4>El rosa es un color con unos atributos bien acotados: es el color de la dulzura, de la delicadeza, de la amistad y del amor puro. Nuestro acervo cultural lo asocia también a lo femenino.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Grisbtn">Mas...</a>
                        </div>
                     </div>
                </div> 

                <div class="bs-calltoaction bs-calltoaction-warning" id="Negro">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Negro</h1>
                            <div class="cta-desc">
                                <h4>El negro tiene connotaciones negativas pues se asocia a la muerte, a lo malvado o a la destrucción. En cambio, en el antiguo Egipto representaba la fertilidad y el crecimiento. Debido a su relación con la oscuridad, el negro simboliza el misterio y lo desconocido. En el mundo de la moda, el negro es el color de la elegancia, la formalidad y la sobriedad</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning" id="Negrobtn">Mas...</a>
                        </div>
                     </div>
                </div>               

                <div class="bs-calltoaction bs-calltoaction-warning">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Amarillo</h1>
                            <div class="cta-desc">
                                <h4>El amarillo representa la luz y el oro. Suele relacionarse con la felicidad, la riqueza, el poder, la abundancia, la fuerza y la acción. No obstante, los investigadores lo consideran uno de los colores más ambiguos, pues también representa la envidia, la ira y la traición. La excesiva presencia de amarillo intenso puede llegar a irritar a una persona, ya que normalmente estamos acostumbrados a verlo en superficies relativamente pequeñas.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-warning">Mas...</a>
                        </div>
                     </div>
                </div>

                <div class="bs-calltoaction bs-calltoaction-danger">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Rojo</h1>
                            <div class="cta-desc">
                               <h4>El rojo se asocia a la estimulación, la pasión, la fuerza, la revolución, la virilidad y el peligro. Probablemente, esto tenga mucho que ver con que el rojo es el color de la sangre, que también asociamos a cierta noción de vitalidad, agresividad y sensaciones extremas. Es uno de los colores con mayor consenso entre los expertos y, de hecho, vestir de este color nos lleva a comportarnos de un modo ligeramente más asertivo y extravertido.</h4>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
                            <a href="#" class="btn btn-lg btn-block btn-danger">mas</a>
                        </div>
                     </div>
                </div>


 		
    </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>