<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	

<link href="file:\\\C:\xampp\htdocs\orientacion\public\bootstrap-3.3.7-dist\css\bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->


</head>
<body id="solo">
<


<!-- inicio nav -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Orientacion Educativa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Menu <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Libros</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#SoyProfecional <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Medico</a></li>
            <li><a href="#">Diseñador</a></li>
            <li><a href="#">Turismo</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Psicologo</a></li>
            <li><a href="#">Dentista</a></li>
            <li><a href="#">Deportista</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Ing. Sistemas</a></li>
            <li><a href="#">Profesor</a></li>
            <li><a href="#">Paleontologo</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
        
          <li><a href="#">Cerrar Sesion</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- fin nav -->

  
    <div class="container">
      <br>
      <br>
      <br>
      <br>
       <div class="alert alert-warning" role="alert"><p id="PP">#Colores</p></div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Rosa</h2>
        <img src="C:\xampp\htdocs\orientacion\public\img\Tigre Personaje\Personajes pag principal Artes, Deportes y Academico\Tigre Deportivo.png" class="img-circle img-responsive" alt="">
        <p>Un médico es un profesional que practica la medicina y que intenta mantener y recuperar la salud humana mediante el estudio, el diagnóstico y el tratamiento de la enfermedad o lesión del paciente.</p>
        
      </div>

      <div class="col-md-5">
        <h2>Objetivo</h2>
        <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
        <i class="fas fa-chess fa-5x"></i>

        <p>El principal objetivo del médico, y de la medicina por extensión, es "cuidar la salud del paciente y aliviar su sufrimiento". </p>
        
      </div>

      
      
      <div class="col-sm-5">
        <h2>Valores</h2>
        <p>El trato digno al paciente y a los compañeros.
        <br>El control juicioso de la incertidumbre durante el encuentro con el enfermo
        <br>La práctica de una ética de la ignorancia (compartir con el paciente nuestras limitaciones científicas)
        <br>La práctica de una ética de la negativa (para rechazar aquello que no tiene sentido, firme pero amablemente, de pacientes, jefes y compañeros)
        <br>una enorme polivalencia en el limitado tiempo de la atención clínica.</p>
        
      </div>
      
       <div class="col-md-5">
        <h2>Funciones</h2>
        <p>
          Clínica: la atención a los pacientes.
          <br>Formación: tanto su propia formación continuada, como el adiestramiento de estudiantes de medicina. Además, de la educación para la salud de los ciudadanos.
          <br>Investigación: para conseguir el mejor desarrollo e innovación de la Medicina.
          <br>Administración y/o gestión: de los recursos humanos, materiales y financieros disponibles, y de la captación de nuevos apoyos socio-sanitarios.
          <br>
          <br>
          <br>
        <p><button type="button" class="btn btn-primary btn-lg btn-block">Volver</button></p>
        </p>
       
      </div>
    </div>
    <hr>

    <footer class="text-center">
      
    </footer>

  </div>  <!-- /container -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>